<div class="modal-body">
    <div class="table-responsive">
        <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Point Person
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Date In
                </th>
                <th>
                    Duration
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for track in tracking %}
                <tr>
                    <td>
                        {{ track.created_by.first_name|default:"" }} {{ track.created_by.last_name|default:"" }}<br>
                        <small class="text-info">{{ track.created_by.department }}</small>
                    </td>
                    <td>{{ track.remarks }}</td>
                    <td>
                        {{ track.created|date:"Y-m-d" }}<br>
                        <small class="text-info">{{ track.created|time:"g:i:s A" }}</small>
                    </td>
                    <td>{{ track.duration }}</td>
                    <td>
                        <span class="badge badge-info p-2 booking_status text-white">
                            {{ track.status }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>