{% load static %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <div class="d-flex sidebar-profile">
          <div class="sidebar-profile-image">
            <img src="{% static 'images/faces/face29.png' %}" alt="image">
            <span class="sidebar-status-indicator"></span>
          </div>
          <div class="sidebar-profile-name">
            <p class="sidebar-name">
              {{ user.first_name|default:'' }} {{ user.last_name|default:'' }}
            </p>
            <p class="sidebar-designation">
              {{ user.department }}
            </p>
          </div>
        </div>
      </li>
      <li class="nav-item {% if request.path == '/' %}active{% endif %}">
        <a class="nav-link" href="{% url 'home' %}">
          <i class="typcn typcn-chart-pie-outline menu-icon"></i>
          <span class="menu-title">
            Dashboard
          </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'documents' %}">
          <i class="typcn typcn-document-text menu-icon"></i>
          <span class="menu-title">Documents </span>
          <span class="badge badge-info ml-3">{{ document_count }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'incoming_docs' %}">
          <i class="typcn typcn-download-outline menu-icon"></i>
          <span class="menu-title">Incoming </span>
          <span class="badge badge-info ml-3">{{ incoming_document_count }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'outgoing_docs' %}">
          <i class="typcn typcn-upload-outline menu-icon"></i>
          <span class="menu-title">Outgoing </span>
          <span class="badge badge-info ml-3">{{ outgoing_document_count }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cycle_end_docs' %}">
          <i class="typcn typcn-folder menu-icon"></i>
          <span class="menu-title">Cycle End </span>
          <span class="badge badge-info ml-3">{{ cycle_end_document_count }}</span>
        </a>
      </li>
    </ul>
    <ul class="sidebar-legend">
      <li>
        <p class="sidebar-menu-title">Document Status</p>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">#Created</a></li>
      <li class="nav-item"><a href="#" class="nav-link">#Approved</a></li>
      <li class="nav-item"><a href="#" class="nav-link">#Cycle End</a></li>
    </ul>
</nav>