<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document Tracking System</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'vendors/typicons.font/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/dts_logo.png' %}" />
    <link rel="stylesheet" href="{% static 'Lobibox/lobibox.css' %}"/>
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include '_navbar.html' %}
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            {% include '_sidebar.html' %}
            <div class="main-panel">
                {% block content %}
                {% endblock %}
                <!-- partial:partials/_footer.html -->
                {% include '_footer.html' %}
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% include '_modal.html' %}

    <!-- base:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'Lobibox/lobibox.js' %}?v=1"></script>
    <script>
        var path_gif = "{% static 'images/loading.gif' %}";
        var loading = '<center><img src="'+path_gif+'" alt=""></center>';
        var track_document_url = "{% url 'track_document' pk=123 %}";
    </script>
    <script src="{% static 'script/main.js' %}"></script>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-analytics.js";
        import { getDatabase, ref, set, push, child, remove, query, limitToLast, onValue } from "https://www.gstatic.com/firebasejs/10.7.0/firebase-database.js";

        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
            apiKey: "AIzaSyCQDgjRx4FnUQYmlbiGcXWH7kONJN4Tmj4",
            authDomain: "dtsproject-cf35e.firebaseapp.com",
            projectId: "dtsproject-cf35e",
            storageBucket: "dtsproject-cf35e.appspot.com",
            messagingSenderId: "829057228993",
            appId: "1:829057228993:web:684b8aeee8cc8aa47a7440",
            measurementId: "G-GYFTLEGY4R"
        };

        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
        var database = getDatabase();

        // Reference to the database
        var dbRef = ref(database,'dts');

        window.insertDatabase = (dataToInsert) => {
            push(dbRef, dataToInsert)
            .then((pushedDataRef) => {
                console.log("inserted");
                if (pushedDataRef.key !== null) {
                    const dataToRemoveRef = child(dbRef, pushedDataRef.key);
                    remove(dataToRemoveRef);
                } else {
                    console.error('Error: Unable to get key after push.');
                    Promise.reject('Unable to get key after push.');
                }
            })
            .then(() => {

            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        const readFirebase = (current_user_department, system_logo) => {
            const db = database;
            const starCountRef = query(ref(db, 'dts'), limitToLast(1));
            onValue(starCountRef, (snapshot) => {
                const data = snapshot.val();
                if(data) {
                    const itemValue = Object.values(data)[0];
                    console.log(itemValue);
                    console.log(current_user_department);
                    if(itemValue.department == current_user_department && itemValue.status == 'released') {
                        Lobibox.notify('info', {
                            title: itemValue.route_no+" was released by "+itemValue.user_released+" / "+itemValue.department_released,
                            size: 'normal',
                            delay: false,
                            closeOnClick: false,
                            img: system_logo,
                            msg: itemValue.remarks
                        });
                    }
                    else if(itemValue.department == current_user_department && itemValue.user_accepted_id != current_user_department && itemValue.status == "accepted") {
                        Lobibox.notify('success', {
                            title: itemValue.route_no+" was accepted by "+itemValue.user_accepted+" / "+itemValue.department_accepted,
                            size: 'normal',
                            delay: false,
                            closeOnClick: false,
                            img: system_logo,
                            msg: itemValue.remarks
                        });
                    }
                }
            });
        }

        const current_user_department = {{ user.department.id }}
        const system_logo = "{% static 'images/dts_logo.png' %}"
        readFirebase(current_user_department, system_logo);
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script>
                    $( document ).ready(function() {
                        const msg = {{ message|safe }}
                        Lobibox.notify('success', {
                            msg: msg.response
                        });
                        if(msg.data) {
                            if(msg.data.status == 'released' || msg.data.status == 'accepted') {
                                window.insertDatabase(msg.data);
                            }
                        }
                    });
                </script>
            {% else %}
                <script>
                    const msg = {{ message|safe }}
                    Lobibox.notify('warning', {
                        msg: msg.response
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    <!-- End custom js for this page-->
    {% block js %}
    {% endblock %}
</body>
</html>