<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document Tracking System</title>
    <!-- base:css -->
    <link rel="stylesheet" href="{% static 'vendors/typicons.font/font/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'images/dts_logo.png' %}" />
    <link rel="stylesheet" href="{% static 'Lobibox/lobibox.css' %}"/>
    {% block css %}
    {% endblock %}
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        {% include '_navbar.html' %}
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            {% include '_sidebar.html' %}
            <div class="main-panel">
                {% block content %}
                {% endblock %}
                <!-- partial:partials/_footer.html -->
                {% include '_footer.html' %}
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% include '_modal.html' %}

    <!-- base:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/template.js' %}"></script>
    <script src="{% static 'js/settings.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{% static 'vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'Lobibox/lobibox.js' %}?v=1"></script>
    <script>
        var path_gif = "{% static 'images/loading.gif' %}";
        var loading = '<center><img src="'+path_gif+'" alt=""></center>';
        var track_document_url = "{% url 'track_document' pk=123 %}";
    </script>
    <script src="{% static 'script/main.js' %}"></script>
    <!-- End custom js for this page-->
    {% block js %}
    {% endblock %}
</body>
</html>